/* Define a color palette */
:root {
  --primary-color: #6200ea; /* Deep Purple */
  --primary-dark: #3700b3;
  --secondary-color: #03dac5; /* Teal */
  --secondary-dark: #018786;
  --button-text-color: #ffffff;
  --background-color: #f5f5f5;
  --dark-background-color: #202020;
  --border-color: #ccc;
  --text-color: #333;
  --dark-text-color: #f5f5f5;
  --error-color: #f44336; /* Red */
  --link-color: #007bff; /* Blue for links */
  --link-hover-color: #0056b3; /* Darker blue for hover */
  --dark-link-color: #03dac5; /* Teal for dark theme links */
  --dark-link-hover-color: #018786; /* Darker teal for hover in dark theme */
}

body {
  background-color: var(--text-color);
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.author-section {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-top: auto;
  padding: 10px 0;
  color: var(--background-color);
}
  
.author-section a {
  color: var(--link-color);
  text-decoration: none;
}

.author-section a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

.App.dark .author-section {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

.App.dark .author-section a {
  color: var(--dark-link-color);
}

.App.dark .author-section a:hover {
  color: var(--dark-link-hover-color);
}

/* Add any other styles from the previous version here */
