:root {
  --primary-color: #6200ea;
  /* Deep Purple */
  --primary-dark: #3700b3;
  --secondary-color: #03dac5;
  /* Teal */
  --secondary-dark: #018786;
  --button-text-color: #ffffff;
  --background-color: #f5f5f5;
  --dark-background-color: #202020;
  --border-color: #ccc;
  --text-color: #333;
  --dark-text-color: #f5f5f5;
  --error-color: #f44336;
  /* Red */
}

body {
  background-color: var(--text-color);
}